<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">

  <!-- Button -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
	
  <meta name="viewport" content="width=device_width" initial-scale="1.0">
  <title>GoLocal</title>
     
  <link href="/static/css/style.css" rel="stylesheet"> 
  <link src="/static/js/index.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>


  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">

  <!-- Button -->
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;700&display=swap" rel="stylesheet">
</head>

<body>


<section class="header">
  <nav>
    <a href="{% url 'index' %}"><img src="/static/images/logo.png" width="200" height="100" alt=""></a>
    <div class="nav-links">
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="">Login</a></li>
      </ul>
    </div>

    
  </nav>

  <div id="form">
    
    <form id="storeform" method="post">
    
    <div class="formgroup" id="name-form">
        <label for="name">Your name *</label>
        <input type="text" id="name" name="name" />
    </div>

    <div class="formgroup" id="website-form">
      <label for="website">Your Location</label>
      <input type="text" id="location" name="location" />
    </div>
    
    <div class="formgroup" id="website-form">
        <label for="website">Phone Number</label>
        <input type="tel" id="phone" name="phone" />
    </div>

    
    <div class="formgroup" id="website-form">
      <label for="website">Your website *</label>
      <input type="text" id="website" name="website" />
    </div>

    <div class="formgroup" id="website-form">
      <label for="website">Hours of operation</label>
      <input type="text" id="hoo" name="hours" />
    </div>
      <input type="submit" value="Submit" />
    </form>
    </div>

  <!-- Button -->
  <div class="butt">
    <button class="w3-button w3-xlarge w3-circle w3-white" onclick="location.href = 'form';">+</button>
  </div>

</section>

</body>